.rhino__button {
    background-color: $purple;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    display: inline-block;
    position: static;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-radius: 25px;

    &:hover {
        background-color: lighten($purple, 5%);
        color: white;
        text-decoration: none;
    }
}

.rhino__button-wrap {
    // text-align: right;
}